#header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

#welcome-message {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
    margin: auto;
}

#start-btn {
    color:white;
    background-color:indigo;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px;
}

#start-btn:hover{
    background-color:rgb(171, 49, 175);

}



.question-section {
    display: none;
}

.question-section2 {
    display: none;
}

.question-section3 {
    display: none;
}

.question-section4 {
    display: none;
}

.question-section5 {
    display: none;
}

#high-scores {
    display: none;
}



.next-question {
    color:white;
    background-color:indigo;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px
}

.next-question:hover{
    background-color:rgb(171, 49, 175);
}

.next-question2 {
    color:white;
    background-color:indigo;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px
}

.next-question2:hover{
    background-color:rgb(171, 49, 175);
}

.next-question3{
    color:white;
    background-color:indigo;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px
}

.next-question3:hover{
    background-color:rgb(171, 49, 175);
}

.next-question4{
    color:white;
    background-color:indigo;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px
}

.next-question4:hover{
    background-color:rgb(171, 49, 175);
}

.next-question5{
    color:white;
    background-color:indigo;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px
}

.next-question5:hover{
    background-color:rgb(171, 49, 175);
}